@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Luminarc</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>

<a class="navbar-brand" asp-controller="Plates" asp-action="Index">Plate Database</a>

<img src="~/img/platehome.png" />

<div class="contact">
    <h2>
        Contact Us
    </h2>

    <p>5689 Lancaster East</p>
    <p>N7R 3B9 Ontario, Canada</p>
    <p>Phone: 226-569-4489</p>
    <p>Email:customerservice@luminarc.ca</p>
</div>

<style>
    a{
        margin-left:200px;
        text-align:center;
        font-size:18px;
        color:blueviolet;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    h1 {
        color:blueviolet;
    }

    img {
        width:70%;
        align-content:center;
        margin-left:200px;
        margin-top:50px;
    }

    h2 {
        color:blueviolet;

    }
    .contact {
        margin-left:450px;
    }

    p{
        font-style:italic;
    }

</style>