@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<h2>Mision</h2>
<p>Our mission is to provide our customers with the highest quality tableware, designed to enhance the dining experience and beauty of the table. We strive to offer a wide range of options that reflect the diversity of our customers' tastes and lifestyles. We are committed to providing exceptional service and exceeding our customers' expectations with every interaction. In addition, we continually work on innovation and sustainability, contributing responsibly to the well-being of society and the environment. Our vision is to be leaders in the tableware market, recognized for our quality, service and commitment to customer satisfaction. </p>

<h2>Vision</h2>
<p>Our vision is to become the global benchmark in the world of tableware, being recognized for excellence in design, quality and sustainability. We seek to inspire and enrich the lives of our customers through the creation of unique and versatile tableware that becomes the center of special moments and memorable culinary experiences. We aspire to be leaders in innovation and set trends in tableware design that reflect the beauty and diversity of global culinary culture. In addition, we are committed to operating in a sustainable manner, respecting the environment and contributing positively to the communities in which we are present. </p>

<img src="~/img/plates.png" />

<style>
       h2 {
           text-align:center;
       } 

       p{
           text-align:justify;
       }

       img {
          
           margin-left:340px;
           margin-top:50px;
           width:40%;
       }
       
       
</style>
